@{
    ViewBag.Title = "Petq";
}

<h2>Petq</h2>
<div style="padding: 20px;">
    <p>
        Petq is a highly skilled Space Academy trainer specializing in spacecraft navigation and orbital mechanics. With a passion for mentoring and a hands-on approach, she ensures that students are well-prepared for real-world challenges in space exploration.
    </p>
</div>
<div style="justify-content:right; display:flex">
    <button type="button" id="goBack" class="btn btn-dark" style="color:white; background-color:black">Go Back</button>
</div>
<script>
    let btn = document.getElementById("goBack")
    btn.addEventListener('click', () => {
        window.location.replace("/Instructor");

    })
</script>

